.bg {
    background-image: url('../img/car_bg.jpg');
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.form-login{
    animation: fadeIn 1s forwards;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.2);
}

@keyframes fadeIn {
    from{
        opacity: 0.7;
        transform: translateY(-20px);
    }

    to{
        opacity: 1;
        transform: translateY(0px)
    }
}